a {
	text-decoration: underline !important;	
}

body {
	overflow-y: scroll;
}

body, html {
	background-color: #eee !important;
	font-family: Arial, Helvetica, sans-serif;
}

/* Override Bootstrap's padding and margin for the .container class. We want to use up as much real estate as possible. */
.container {
	width: 100% !important;
	padding: 20px !important;
	margin: 0px !important;
	
}

.highlighted {
	background-color: yellow;
}

.inline {
	display: inline-block;
}

/* Set the height for the logo */
.logoimage {
	max-height: 50px;
}

.pillcontainer {	
	border: 1px solid black;
	border-radius: 5px;
	padding: 2em;
	margin-bottom: 2em;
	box-shadow: 2px 2px 10px #8e8e8e;
	background-color: white;
}

#searchresults {
	margin-top: 2em;
}

.showresults {
	width: 10em;
}

.titlefont {
	font-size: 1.5em;
}

.tag {
  background: gray;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::after {
	/* background: #fff; */
	border-bottom: 13px solid transparent;
	border-left: 10px solid gray;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	cursor: pointer;
	cursor: hand;
}

.tag:hover::after {
	cursor: pointer;
	cursor: hand;
}

.tagbg1::after {
	background: #fff;
}

.tagbg2::after {
	background: #eee;
}


.tagselected {
	background-color: crimson;
	color: white;
}

.tagselected::after {
   border-left-color: crimson; 
}

.titlefont2 {
	font-size: 2em;
}
